/* layout.css */


/*@font-face{ font-family:"210 키위바나나R"; src:url("210 키위바나나R.ttf") }*/

#wrap{ width:100%; }
.Sec{ 
	width:100%; 
	height:100vh; 
	position:relative; 
	overflow:hidden; 
}
.s1{
	background-color:#000;
} 
.s2{
	background:url("../img/sec02_bg.png")no-repeat 0 0;
} 
.s3{
	background:url("../img/sec03_bg.png")no-repeat 0 0;
} 
.s4{
	background:url("../img/sec04_bg.png")no-repeat 0 0;
} 
.s5{
	background:url("../img/sec05_bg.png")no-repeat 0 0;
} 
.s6{
	background:url("../img/sec06_bg.png")no-repeat 0 0;
} 
.s7{
	background:url("../img/sec07_bg.png")no-repeat 0 0;
} 